$serif: et-book;
$sans-serif: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
// Full Tufte:
$white: #fffff8;
$black: #111;
//$measure: 55%;
@import "tachyons";
a {
	//@extend .blue;
	@extend .black;
	@extend .no-underline;
	//@extend .underline-hover;
	text-decoration: none;
    background: -webkit-linear-gradient($white, $white), -webkit-linear-gradient($white, $white), -webkit-linear-gradient($dark-gray, $dark-gray);
    background: linear-gradient($white, $white), linear-gradient($white, $white), linear-gradient($dark-gray, $dark-gray);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 $white, -0.03em 0 $white, 0 0.03em $white, 0 -0.03em $white, 0.06em 0 $white, -0.06em 0 $white, 0.09em 0 $white, -0.09em 0 $white, 0.12em 0 $white, -0.12em 0 $white, 0.15em 0 $white, -0.15em 0 $white;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}
code {
	@extend .f5;
}
// Handle list padding for things sized with .measure
ol.measure,
ul.measure,
dl.measure {
	width: $measure - ($measure / 10);
	padding-left: ($measure / 10);
}
@media #{$breakpoint-not-small}{
	.tufte-body {
		padding-left: 12.5%;
		width: 87.5%
	}
}